.TopLeft {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.TextElement {
    margin-block: 0px;
    color: inherit; 
}

.IntoTopLeft {
    padding: 8px 12px;
}

ul {
    list-style-type: none;
    margin: 0px;
}

a {
    cursor: pointer;
}